<kendo-grid [data]="gridData">
    <kendo-grid-column field="id" title="ID" [width]="50" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="city" title="City" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="company" title="Company" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="country" title="Country" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="firstName" title="First Name" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="organizationType" title="Organization Type" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="phone" title="Phone" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="state" title="State" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="zipCode" title="ZipCode" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="disclaimerAccepted" title="Disclaimer Accepted" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="languageCode" title="Language Code" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="emailAddress" title="Email Address" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
</kendo-grid>