<kendo-grid [data]="gridData">
    <kendo-grid-column field="id" title="ID" [width]="50" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="emailAddress" title="Email Address" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="languageCode" title="Language Code" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="registrationId" title="Registration Id" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
    <kendo-grid-column field="registrationIdGeneratedTime" title="Registration Id Generated Time" [style]="{ 'background-color': '#888', color: '#fff' }"></kendo-grid-column>
</kendo-grid>